<% if @lands.empty? %>
      <h3> Il n'y a pas de terrains correspondant à votre recherche </h3>
    <% else %>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="text-center">Nous avons trouvé <%= @lands.count %> propriété(s) potentiels correspondant à votre recherche</h4>

            </div>
            <div class="panel-body">
              <% @lands.each do |land| %>
                <div class="row">
                  <div class="col-md-2">
                    <%= land.surface %> m2
                    <p> Fichier n°<%= land.file %></p>
                  </div>
                  <div class="col-md-4">
                    <h4 class="mt-0"><%= land.address %></h4>

                  </div>
                  <div class="col-md-4">
                    <p><%= land.neighborhood.name if land.neighborhood.present? %></p>
                  </div>
                  <div class="col-md-2 right">
                    <p><%= link_to "En savoir plus", land_path(land) %></p>
                  </div>
                </div>
                <div class= "row">
                  <div class="col-md-12">
                    <%= image_tag("http://maps.googleapis.com/maps/api/streetview?key=AIzaSyCwCp3To_EfAyq9Yt0-x9O2KfQMU4dLRw8&size=640x400&location=#{land.full_street_address}&fov=180&&pitch=1&sensor=false", class: "item-show-map")%>
                    <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCwCp3To_EfAyq9Yt0-x9O2KfQMU4dLRw8&zoom=15&size=450x400&sensor=false&maptype=roadmap&markers=color:red|#{land.full_street_address}", class: "item-show-map" %>
                  </div>
                </div>
                <% if current_user.try(:admin?) %>
                 <%= link_to "Effacer", land_path(land), method: :delete %>
                <% end %>
                <br><hr><br>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    