<%= render 'shared/filter' %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Vos resultats
      </div>
      <div class="panel-body">
        <% @lands.each do |land| %>
          <div class="row">
            <div class="col-md-2">
              <%= land.surface %> m2
            </div>
            <div class="col-md-5">
              <h3 class="mt-0"><%= land.address %></h3>
              <p><%= land.neighborhood %></p>
              <p><%= link_to "En savoir plus", land_path(land) %></p>
              <p><%= link_to "Accès Direct à Street View", "http://maps.google.com/maps?q=&layer=c&cbll=#{land.latitude},#{land.longitude}", target: "_blank" %></p>
            </div>
            <div class="col-md-5 right">
              <div id="map" >
                <%= image_tag("http://maps.googleapis.com/maps/api/streetview?key=AIzaSyCwCp3To_EfAyq9Yt0-x9O2KfQMU4dLRw8&size=640x400&location=#{land.full_street_address}&fov=180&&pitch=1&sensor=false", class: "item-show-map")%>
                  <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCwCp3To_EfAyq9Yt0-x9O2KfQMU4dLRw8&zoom=15&size=450x400&sensor=false&maptype=roadmap&markers=color:red|#{land.full_street_address}", class: "item-show-map" %>
              </div>
            </div>
          </div>
          <br><hr><br>
        <% end %>
      </div>
    </div>
  </div>
</div>