<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <h4>Vue extérieure du <%= @land.full_street_address %></h4>
          </div>
          <div class="col-md-4">
            <%= simple_form_for [@land, @followland] do |f| %>
              <%= f.hidden_field :comment %>
              <%= f.submit 'Relevé de propriété ?', class:"btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel-body">

        <div id="map2" class="map_show"></div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Plan du <%= @land.full_street_address %></h4>
      </div>
      <div class="panel-body">

        <div id="map3" class="map_show"></div>

      </div>
    </div>
  </div>
  
</div>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
      $(document).on('ready', function() {

        handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map3' }
        }, function(){
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(15);
        });
      })
    <% end %>
  <% end %>
<%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyCwCp3To_EfAyq9Yt0-x9O2KfQMU4dLRw8" %>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
      $(document).on('ready', function() {

        pos = new google.maps.LatLng( <%= @land.latitude %>, <%= @land.longitude %> );

      var div = document.getElementById('map2');
      var sv = new google.maps.StreetViewPanorama(div);
      sv.setPosition( pos );
      sv.setVisible( true );

      // find the heading by looking from the google car pos to the venue pos
      var service = new google.maps.StreetViewService();
      service.getPanoramaByLocation( pos, 50, function(result, status) {
          if (status == google.maps.StreetViewStatus.OK)
          {
              carPos = result.location.latLng;
              heading = google.maps.geometry.spherical.computeHeading( carPos, pos );
              sv.setPov( { heading: heading, pitch: 0, zoom: 1 } );
          }
          else {
          console.log('Street View Noet Available');
        }
} );
      })
    <% end %>
  <% end %>