
	<div id="header-top">
		<div id="photo">
			<div class="container">
				<h1 class="titre text-center">L'arme fatale pour votre <span class="souligne"> prospection immobilière</span></h1>
				<div class="mt-100 text-center">
					<div class="navbar-wagon-item navbar-wagon-button btn">En savoir Plus</div>
				</div>
			</div>
		</div>
	</div>
	<div id="clients">
		<h2 class="text-center fw-100 mb-30">De nombreux clients nous font déjà confiance</h2>
		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-md-10 text-center">
					<%= image_tag ("logo_orpi.png") %>
					<%= image_tag ("logo_era.png") %>
					<%= image_tag ("logo_ladresse.png") %>
					<%= image_tag ("logo_squarehabitat.png") %>
					<%= image_tag ("logo_guyhoquet.png") %>
				</div>
			</div>
		</div>
	</div>
	<div id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<% if current_user.try(:admin?) %>
						<h2 class="text-center fw-100">Import Lands</h2>
						<%= form_tag import_lands_path, multipart: true do %>
			  				<span class="btn btn-large btn-warning btn-file">
			    				Choose File
			    				<%= file_field_tag :file %>
			  				</span>
			  				<%= submit_tag "Upload Companies", class: "btn btn-primary" %>
						<% end %>

					<% end %>
				</div>
			</div>
		</div>
	</div>
	
