
	<div id="header-top">
		<div id="photo">
			<div class="container">
				<h1 class="titre text-center">L'arme fatale pour votre <span class="souligne"> prospection immobilière</span></h1>
				<div class="mt-100 text-center">
					<div class="navbar-wagon-item navbar-wagon-button btn">En savoir Plus</div>
				</div>
			</div>
		</div>
	</div>
	<div id="clients">
		<h2 class="text-center fw-100 mb-30">De nombreux clients nous font déjà confiance</h2>
		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-md-10 text-center">
					<%= image_tag ("logo_orpi.png") %>
					<%= image_tag ("logo_era.png") %>
					<%= image_tag ("logo_ladresse.png") %>
					<%= image_tag ("logo_squarehabitat.png") %>
					<%= image_tag ("logo_guyhoquet.png") %>
				</div>
			</div>
		</div>
	</div>
	<div id="contact_image">
		<div id="contact">
			<div class="container">
				<div class="row">
					
					<h2 class="white text-center fw-100 m-30">Nous contacter</h2>
				<div class="row">
					<div class="col-md-6">
						<i class="fa fa-map-marker">
						</i>
						<span class="text-contact-address white">94 Avenue du Bac 94210 La Varenne Saint Hilaire</span>
						<br>
						<i class="fa fa-phone">
						</i>
						<span class="text-contact-phone white">06 98 85 38 74</span>
						<br>
						<i class="fa fa-envelope">
						</i>
						<span class="text-contact-mail white">alcordani@gmail.com</span>
						
					</div>
					<div class="col-md-6">
						<div class="cadre-contact pt-60">
							<%= simple_form_for @contact do |f| %>
								<%= f.input :name, label: 'Votre Nom/ Prénom et nom Agence', placeholder: 'John Smith, France Immobilier'%>
								<%= f.input :mail, label: 'Votre mail', placeholder: 'jsmith@franceimmobilier.fr' %>
								<%= f.input :phone, label: 'Votre téléphone', placeholder: '0155960000' %>
								<%= f.input :type, label: false, collection: [ "Agence Independante", "Franchisée", "Agent Indépendant"], prompt: "Choisissez un type d'agence" %>
								
								
								<%= f.submit 'Envoyer', class:"navbar-wagon-button center mt-27" %>
							<% end %>
						</div>
					</div>
				</div>




					<div class="col-md-6 col-md-offset-3">
						<% if current_user.try(:admin?) %>
							<h2 class="text-center fw-100">Import Lands</h2>
							<%= form_tag import_lands_path, multipart: true do %>
				  				<span class="btn btn-large btn-warning btn-file">
				    				Choose File
				    				<%= file_field_tag :file %>
				  				</span>
				  				<%= submit_tag "Upload Companies", class: "btn btn-primary" %>
							<% end %>

						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
